<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width=device-width, minimum-scale=1, maximum-scale=1">
        <title>TEST</title>
    </head>
    <body>
        <div class="deviceorientation">
            alpha:<p class="alpha"></p>
            beat:<p class="beta"></p>
            gamma:<p class="gamma"></p>
        </div>
        <div class="devicemotion">
            x:<p class="x"></p>
            y:<p class="y"></p>
            z:<p class="z"></p>
        </div>
        <script>
            window.addEventListener("deviceorientation", function(evt) {
                document.querySelector('.alpha').innerText = evt.alpha;
                document.querySelector('.beta').innerText = evt.beta;
                document.querySelector('.gamma').innerText = evt.gamma;
            });
            window.addEventListener("devicemotion", function(evt) {
                document.querySelector('.x').innerText = evt.acceleration.x;
                document.querySelector('.y').innerText = evt.acceleration.y;
                document.querySelector('.z').innerText = evt.acceleration.z;
            });
        </script>
    </body>
</html>